html {
    background-color: black;
}


body {
    margin: 0;
    padding: 0 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}


.header {
    background-color: #1F2937;
    font-size: 18;
    color: #F9FAF8;
    margin-bottom: auto;
    
}

.header > ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 0px;
    gap: 24px;
    padding-right: 120px;
    
}

.header .left-side {
    display: flex;
    margin-right: auto;
    padding-left: 120px;
    font-weight: bold;
}


.section-one {
    background-color: #1F2937;
    padding-left: 120px;
    padding-right: 120px;
    flex: 1;
    display: flex;
    
}
.section-one .left-side {
    flex: 1;
    padding-bottom: 20px;

}

.section-one .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 0px;
}
.section-one .body {
    color: #E5E7EB;
    font-size: 18px; 
    margin-top: 0px;
    
}
.section-one button {
    background-color: #3882F6;
    border: 0;
    padding: 12px 24px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px; 
    font-weight: bold;

}
img {
    height: 0;
    min-height: 100%;
    max-width: 100%;
    
}
.image {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    border: 5px solid red;
    

    

}

.section-two {
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    flex: 1;
}

.section-two p {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.all-boxes {
    display: flex;  
    justify-content: center;
    gap: 20px;
    text-align: center;  
    padding-bottom: 20px;
}
.box-one,
.box-two,
.box-three,
.box-four {
    height: 260px;
}

.all-boxes > img {
    height: 0;
    min-height: 100%;
    max-width: 100%;
}


.section-three {
    background-color: #E5E7EB;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    flex: 1;
}



.section-four-container {
    background-color: white;
    flex: 1;
}

.section-four {
    margin: 30px;
    background-color: #3882F6;
    padding: 40px 80px;
    border-radius: 8px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    
}
.section-four .button {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.section-four button {
    background-color: #3882F6;
    padding: 12px 24px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px; 
    border-color: #E5E7EB;
    border-style: solid;
}

.section-four .first-row {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
}

.section-four .second-row {
    margin-top: 0px;
    font-size: 18px; 
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 36px;
    margin-top: auto;    
}